.example-spacer {
   flex: 1 1 auto;
}

button[mat-button] {
   font-size: 1.2rem;
}

#logo {
   font-family: 'Playfair Display', serif;
   font-optical-sizing: auto;
   font-weight: 800;
   font-size: 1.7rem;
}
