#logo-text {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-size: 1.5rem;
}

#logo {
  font-size: 1.8rem;
  width: 2rem;
  height: 2rem;
  color: #2e8b57;
}

.spacer {
  flex: 1 1 auto;
}
