<mat-form-field class="example-chip-list">
  <mat-label>Recipe ingredients</mat-label>
  <mat-chip-grid #ingredientChipGrid aria-label="Ingredient selection">
    @for (ingredient of ingredients$ | async; track ingredient) {
    <mat-chip-row (removed)="deleteIngredient(ingredient.id)">
      {{ ingredient.text | titlecase }}
      <button matChipRemove [attr.aria-label]="'remove ' + ingredient">
        <mat-icon>cancel</mat-icon>
      </button>
    </mat-chip-row>
    }
  </mat-chip-grid>
  <input
    type="text"
    name="currentIngredient"
    placeholder="New ingredient..."
    #ingredientInput
    [formControl]="ingredientControl"
    autoFocus
    [matChipInputFor]="ingredientChipGrid"
    (matChipInputTokenEnd)="add($event)"
  />
</mat-form-field>

<app-suggested-ingredients
  (ingredientControl)="receiveIngredientControl()"
></app-suggested-ingredients>
