<div class="search-recipe-container">
   <form class="example-form">
      <mat-form-field class="example-full-width">
         <mat-label>Search any recipes</mat-label>
         <input
            autoFocus
            matInput
            name="ingredient"
            maxlength="256"
            placeholder="Enter Ingredient"
            #ingredientRef
            (keydown.enter)="handleUserInput()"
            [(ngModel)]="ingredientInput"
         />
         <mat-icon matPrefix>search</mat-icon>
      </mat-form-field>
   </form>
   <app-preferences-button></app-preferences-button>
</div>
