.example-form {
   width: 100%;
}

.example-full-width {
   width: 100%;
}

.search-recipe-container {
   margin-block: 1rem;
   display: flex;
   gap: 1rem;
   background-color: #F5F5F5;
}

.example-chip-list {
   width: 100%;
}
