<div class="root-container">
   <ng-container *ngTemplateOutlet="companyLogoTemplate"></ng-container>

   <div class="sticky-container">
      <div>hi Chris!</div>
      <h5>Got a tasty dish in mind? <mat-icon>waving_hand</mat-icon></h5>

      <app-search-recipe
         (recipesChanged)="handleRecipesChanged($event)"
         (ingredientsChanged)="handleIngredientsChanges($event)"
      ></app-search-recipe>

      <app-added-ingredients
         [ingredients]="ingredients"
      ></app-added-ingredients>
   </div>

   <!-- Searched ingredients -->
   <ng-container *ngIf="recipes.length !== 0">
      <ng-container *ngFor="let recipe of recipes">
         <app-card [recipe]="recipe"> </app-card>
      </ng-container>
   </ng-container>

   <ng-template #companyLogoTemplate><h1>LeftOvers</h1></ng-template>
</div>
