.recipe-card {
   margin-bottom: 2rem;
   border-radius: 2rem;

   &:hover {
      cursor: pointer;
   }
}

.recipe-card-footer {
   padding: 16px;
}

.recipe-header-image {
   background-size: cover;
}
