.scroll-container {
   border: 2px solid silver;
   display: flex;
   align-items: center;
   overflow: hidden;

   &.hide-scrollbar {
      overflow: auto;
      &::-webkit-scrollbar {
         display: none;
      }
   }

   &.show-scroll {
      overflow: auto;
   }

   div {
      white-space: nowrap;
      background: #efefef;
      border: 1px solid #efefef;
      margin: 0.1rem;
      padding: 0.2rem 0.7rem;
      &:hover {
         cursor: pointer;
         border-color: #ccc;
      }
   }
}
