.scroll-container {
   display: flex;
   // align-items: flex-start;
   overflow: hidden;

   &.hide-scrollbar {
      overflow: auto;
      &::-webkit-scrollbar {
         display: none;
      }
   }
}

.example-card {
   width: 50vw;
   margin-right: 1rem;
}

mat-card-header {
   height: 80px;

   mat-card-title {
      -webkit-line-clamp: 2;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      overflow: hidden;
   }
}
