.scroll-container {
   // border: 2px solid silver;
   display: flex;
   align-items: flex-start;
   overflow: hidden;

   &.hide-scrollbar {
      overflow: auto;
      &::-webkit-scrollbar {
         display: none;
      }
   }
}

.example-card {
   width: 25vw;
   margin-right: 1rem;
}
