<div class="root-container">
   <h1>Favorite recipes</h1>
   <div *ngFor="let recipe of favoriteRecipes">
      <mat-card
         class="recipe-card"
         [routerLink]="['/recipes', recipe.id]"
         appearance="outlined"
      >
         <img
            mat-card-image
            src="{{ recipe.image }}"
            alt="Photo of a Shiba Inu"
         />
         <mat-card-header>
            <mat-card-title class="mat-card-title">{{
               recipe.name
            }}</mat-card-title>
         </mat-card-header>
         <mat-card-content> </mat-card-content>
      </mat-card>
   </div>
</div>
