.search-header {
  width: calc(100% - 2rem);
  max-width: 600px;
  margin: auto;
  margin-top: 1rem;
}

.search-inner-container {
  width: calc(100% - 2rem);
  margin: auto;
  max-width: 600px;
}

.search-outer-container {
  position: sticky;
  background-color: white;
  padding-block: 1rem;
  top: 0;
  z-index: 99;
  border-bottom: 2px solid lightgray;
  background-color: #f5f5f5;
}
