<div class="footer-container">
  <button
    routerLink="/shopping-cart"
    routerLinkActive="selected"
    mat-icon-button
    class="example-icon favorite-icon"
    aria-label="Example icon-button with heart icon"
  >
    <mat-icon matBadge="15">shopping_cart</mat-icon>
  </button>

  <button
    routerLink="/"
    routerLinkActive="selected"
    mat-icon-button
    class="example-icon favorite-icon"
    aria-label="Example icon-button with heart icon"
  >
    <mat-icon>search</mat-icon>
  </button>

  <button
    routerLink="/favorite"
    routerLinkActive="selected"
    mat-icon-button
    class="example-icon favorite-icon"
    aria-label="Example icon-button with heart icon"
  >
    <mat-icon>favorite</mat-icon>
  </button>

  <!-- <button
    routerLink="/post"
    routerLinkActive="selected"
    mat-icon-button
    aria-label="Example icon-button with heart icon"
  >
    <mat-icon>add_circle</mat-icon>
  </button> -->

  <!-- <button
    routerLinkActive="selected"
    mat-icon-button
    aria-label="Example icon-button with heart icon"
  >
    <mat-icon>photo_camera</mat-icon>
  </button> -->
</div>
