<div class="ingredients-container">
   <ng-container *ngFor="let ingredient of ingredients$ | async">
      <button
         mat-stroked-button
         extended
         type="button"
         class="btn ingredient-btn"
         (click)="deleteIngredient(ingredient.id)"
      >
         {{ ingredient.text }}
         <mat-icon>close</mat-icon>
      </button>
   </ng-container>
</div>

<button
   *ngIf="(ingredients$ | async)?.length"
   #buttonHover
   class="btn ingredient-btn"
   (click)="removeAllIngredients()"
>
   Remove All
</button>
