<div class="ingredients-container">
   <ng-container *ngFor="let ingredient of ingredients$ | async">
      <button
         mat-stroked-button
         extended
         type="button"
         class="btn ingredient-btn"
         (click)="deleteIngredient(ingredient.id)"
      >
         {{ ingredient.text | titlecase }}
         <!-- <mat-icon>close</mat-icon> -->
      </button>
   </ng-container>
   <button
      *ngIf="(ingredients$ | async)?.length"
      class="remove-all-btn"
      (click)="removeAllIngredients()"
      mat-stroked-button
   >
      Remove All
   </button>
</div>
