<mat-toolbar>
   <button routerLink="/search" routerLinkActive="selected" mat-button>
      <span>Leftovers</span>
   </button>
   <span class="example-spacer"></span>
   <button
      routerLink="/favorite"
      routerLinkActive="selected"
      mat-icon-button
      class="example-icon favorite-icon"
      aria-label="Example icon-button with heart icon"
   >
      <mat-icon>favorite</mat-icon>
   </button>
   <button routerLink="/post" routerLinkActive="selected" mat-icon-button>
      <mat-icon>add_circle</mat-icon>
   </button>
   <button routerLink="/profile" routerLinkActive="selected" mat-icon-button>
      <mat-icon>account_circle</mat-icon>
   </button>
</mat-toolbar>
