<div class="suggested-ingredients-container">
  <div
    class="ingredient-container"
    *ngFor="let ingredient of suggestedIngredients$ | async"
  >
    <div class="ingredient">
      <div class="ingredient-title">{{ ingredient.name }}</div>
      <div>{{ getAisle(ingredient.aisle) }} {{ ingredient.aisle }}</div>
    </div>
    <div *ngIf="ingredient.isLoading" class="icon-container">
      <mat-icon class="material-symbols-outlined primary"
        >check_circle</mat-icon
      >
    </div>

    <div *ngIf="!ingredient.isLoading" class="icon-container">
      <mat-icon (click)="selectSuggestedIngredient(ingredient)"
        >add_circle</mat-icon
      >
    </div>
  </div>
</div>
