.head-container {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

button[mat-icon-button] {
   margin-right: 1rem;
}

mat-button-toggle-group {
   border: none;
}

button[mat-button-toggle] {
   padding-right: 0.5rem;
   font-size: 12px;
}

.mat-button-toggle-button {
   background: green;
}

.mat-btn {
   border-radius: 2rem;
   margin-right: 0.5rem;
   font-size: 0.875rem;
}

.mat-button-toggle-checked {
   background-color: green;
}

.mat-unchecked {
   background-color: red;
}

.active-toggle {
   color: green;
}

.btn-close {
   display: block;
}
