<div class="head-container">
   <h2 mat-dialog-title>Recipe Preferences</h2>
   <button mat-icon-button mat-dialog-close>
      <mat-icon>close</mat-icon>
   </button>
</div>
<mat-dialog-content>
   <form [formGroup]="preferencesForm" (ngSubmit)="onSubmit()">
      <h2>Meal Time</h2>
      <mat-button-toggle-group
         multiple="false"
         formControlName="mealTime"
         [hideSingleSelectionIndicator]="true"
      >
         <mat-button-toggle class="mat-btn" value="under_15"
            >Under 15 min</mat-button-toggle
         >
         <mat-button-toggle class="mat-btn" value="under_30"
            >Under 30 min</mat-button-toggle
         >
         <mat-button-toggle class="mat-btn" value="under_60"
            >under 60 min</mat-button-toggle
         >
      </mat-button-toggle-group>

      <h2>Meal Type</h2>
      <mat-button-toggle-group
         multiple="false"
         formControlName="mealType"
         [hideSingleSelectionIndicator]="true"
      >
         <mat-button-toggle class="mat-btn" value="breakfast"
            >Breakfast</mat-button-toggle
         >
         <mat-button-toggle class="mat-btn" value="lunch"
            >Lunch</mat-button-toggle
         >
         <mat-button-toggle class="mat-btn" value="dinner"
            >Dinner</mat-button-toggle
         >
         <mat-button-toggle class="mat-btn" value="dessert"
            >Dessert</mat-button-toggle
         >
      </mat-button-toggle-group>

      <button
         type="submit"
         mat-button
         mat-dialog-close
         color="primary"
         class="btn-close"
      >
         Save
      </button>
   </form>
</mat-dialog-content>
