.head-container {
   display: flex;
   justify-content: space-between;
   align-items: center;
      background-color: #2e8b57 !important;
}

button[mat-icon-button] {
   margin-right: 1rem;
}

mat-button-toggle-group {
   border: none;
}

button[mat-button-toggle] {
   padding-right: 0.5rem;
   font-size: 12px;
}

.mat-button-toggle-button {
   background: green;
}

.active-toggle {
   color: green;
}

.btn-close {
   display: block;
}

.form-preference {
   margin-bottom: 1rem;
}

:host {
   display: flex;
   flex-direction: column;
   height: 100%;
}
mat-dialog-content {
   max-height: unset !important;
   flex: 1 0 0;
}
