<div class="head-container">
   <h2 mat-dialog-title>Recipe Preferences</h2>
   <button mat-icon-button mat-dialog-close>
      <mat-icon>close</mat-icon>
   </button>
</div>
<mat-dialog-content>
   <form [formGroup]="preferencesForm" (ngSubmit)="onSubmitPreferences()">
      <h2>Cooking Time</h2>
      <p>under 15 min, under 30min, under 60min</p>

      <mat-button-toggle-group
         #group="matButtonToggleGroup"
         formControlName="mealType"
         appearance="standard"
         multiple="true"
      >
         <mat-button-toggle value="breakfast">Breakfast</mat-button-toggle>
         <mat-button-toggle value="lunch">Lunch</mat-button-toggle>
         <mat-button-toggle value="dinner">Dinner</mat-button-toggle>
         <mat-button-toggle value="dessert">Dessert</mat-button-toggle>
      </mat-button-toggle-group>

      <h2>Dietary restrictions</h2>
      <p>
         Vegetarian Vegan Gluten-free Dairy-free Nut-free Paleo Keto
         Halal/Kosher
      </p>
   </form>
</mat-dialog-content>
<!-- <mat-dialog-actions align="end"> -->
<button mat-button color="primary">Save Preferences</button>
<!-- </mat-dialog-actions> -->
