<div class="head-container">
   <h2 mat-dialog-title>Recipe Preferences</h2>
   <button mat-icon-button mat-dialog-close>
      <mat-icon>close</mat-icon>
   </button>
</div>
<mat-divider></mat-divider>
<mat-dialog-content>
   <form [formGroup]="preferencesForm" (ngSubmit)="onSubmit()">
      <!-- <div class="form-preference">
         <label for="mealTime">Time</label>
         <ng-select
            appearance="outline"
            [multiple]="false"
            formControlName="mealTime"
            [items]="mealTimes"
            bindLabel="name"
            bindValue="name"
            placeholder="Select Time"
            labelForId="mealTime"
            [closeOnSelect]="true"
            [searchable]="false"
         >
         </ng-select>
      </div> -->

      <div class="form-preference">
         <label for="diet">Diet</label>
         <ng-select
            appearance="outline"
            [multiple]="false"
            formControlName="dietType"
            [items]="diets"
            bindLabel="name"
            bindValue="name"
            placeholder="Select Diet"
            labelForId="diet"
            [closeOnSelect]="true"
            [searchable]="false"
         >
         </ng-select>
      </div>

      <div class="form-preference">
         <label for="intolerances">Intolerances</label>
         <ng-select
            appearance="outline"
            [multiple]="true"
            formControlName="intoleranceType"
            [items]="intolerances"
            bindLabel="name"
            bindValue="name"
            placeholder="Select intolerance(s)"
            labelForId="intolerances"
            [closeOnSelect]="false"
            [searchable]="false"
         >
         </ng-select>
      </div>

      <button
         type="submit"
         mat-stroked-button
         mat-dialog-close
         color="primary"
         class="btn-close"
      >
         Save
      </button>
   </form>
</mat-dialog-content>
