<div class="root-container">
  <app-go-back></app-go-back>

  <mat-divider></mat-divider>

  <div class="title recipe-title">{{ recipe.title }}</div>
  <div class="img-container">
    <img [src]="recipe.image" alt="{{ recipe.title }}" />
    <div class="recipe-summary" *ngIf="recipe?.summary">
      {{ cleanText(recipe?.summary) | truncate : 180 }}
    </div>
  </div>
  <mat-divider></mat-divider>

  <div class="recipe-preparation-details-container">
    <div class="servings">
      <h2>Servings</h2>

      <div class="servings-container">
        <button
          mat-mini-fab
          aria-label="minus serving button"
          (click)="decreaseServingCounter()"
        >
          <mat-icon>remove</mat-icon>
        </button>
        <strong>{{ servingsCounter }}</strong>

        <button
          mat-mini-fab
          aria-label="add serving button"
          (click)="addServingCounter()"
        >
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </div>
    <div class="preparation">
      <h2>Preparation</h2>
      <p>
        {{ recipe.readyInMinutes ? recipe.readyInMinutes + " mins" : "" }}
      </p>
    </div>
    <div class="cook">
      <h2>Cook</h2>
      <p>{{ recipe.cook ? recipe.cook + " mins" : "" }}</p>
    </div>
  </div>

  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Ingredients</mat-panel-title>
      </mat-expansion-panel-header>
      <div *ngFor="let ingredient of recipe.extendedIngredients">
        <div class="ingredient">
          <div [ngSwitch]="ingredient.unit" class="ingredient-unit">
            <span *ngSwitchCase="'cup'">
              <i class="fa-solid fa-glass-water"></i>
            </span>
            <span *ngSwitchCase="'cups'">
              <i class="fa-solid fa-glass-water"></i>
            </span>
            <span *ngSwitchCase="'tablespoon'">
              <i class="fa-solid fa-spoon fa-lg"></i>
            </span>
            <span *ngSwitchCase="'tablespoons'">
              <i class="fa-solid fa-spoon fa-lg"></i>
            </span>
            <span *ngSwitchCase="'teaspoon'">
              <i class="fa-solid fa-spoon fa-rotate-90"></i>
            </span>
            <span *ngSwitchCase="'teaspoons'">
              <i class="fa-solid fa-spoon fa-rotate-90"></i>
            </span>

            <span *ngSwitchDefault>
              <div class="empty"></div>
            </span>
          </div>

          <div class="ingredient-amount">
            {{ ingredient.amount * servingsCounter }}
          </div>

          <div class="ingredient-unit">
            {{ ingredient.unit }}
          </div>

          <div class="ingredient-name">
            {{ ingredient.name }}
          </div>
        </div>
      </div>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title> Instructions</mat-panel-title>
      </mat-expansion-panel-header>
      <div *ngFor="let instruction of recipe.analyzedInstructions">
        <div class="step" *ngFor="let step of instruction.steps; index as i">
          <div class="step-number">{{ i + 1 }}.</div>
          <div class="step-description">{{ step.step }}</div>
        </div>
      </div>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title> Summary</mat-panel-title>
      </mat-expansion-panel-header>
      <div class="recipe-summary">
        {{ cleanText(recipe.summary) }}
      </div>
    </mat-expansion-panel>
  </mat-accordion>

  <!-- <app-similar-recipes></app-similar-recipes> -->
</div>
