<div class="recipe-details-container">
   <div class="go-back-container">
      <button
         mat-icon-button
         aria-label="Example icon button with a vertical three dot icon"
         (click)="goBack()"
      >
         <mat-icon>arrow_back</mat-icon>
      </button>
   </div>
   <mat-divider></mat-divider>

   <h1 class="h1">{{ recipe.title }}</h1>
   <div class="img-container">
      <img [src]="recipe.image" alt="{{ recipe.title }}" />
   </div>
   <mat-divider></mat-divider>

   <div class="recipe-preparation-details-container">
      <div class="servings">
         <h2>Servings</h2>
         <div>1</div>
      </div>
      <div class="preparation">
         <h2>Preparation</h2>
         <p>
            {{ recipe.readyInMinutes ? recipe.readyInMinutes + ' mins' : '' }}
         </p>
      </div>
      <div class="cook">
         <h2>Cook</h2>
         <p>{{ recipe.cook ? recipe.cook + ' mins' : '' }}</p>
      </div>
   </div>

   <mat-accordion>
      <mat-expansion-panel>
         <mat-expansion-panel-header>
            <mat-panel-title> Summary</mat-panel-title>
            <!-- <mat-panel-description>
               This is a summary of the content
            </mat-panel-description> -->
         </mat-expansion-panel-header>
         <div class="recipe-summary" [innerHTML]="recipe.summary"></div>
      </mat-expansion-panel>
      <mat-expansion-panel
         (opened)="panelOpenState.set(true)"
         (closed)="panelOpenState.set(false)"
      >
         <mat-expansion-panel-header>
            <mat-panel-title> Ingredients </mat-panel-title>
            <!-- <mat-panel-description>
               Currently I am {{ panelOpenState() ? 'open' : 'closed' }}
            </mat-panel-description> -->
         </mat-expansion-panel-header>
         <p></p>
      </mat-expansion-panel>
      <mat-expansion-panel>
         <mat-expansion-panel-header>
            <mat-panel-title> Instructions</mat-panel-title>
            <!-- <mat-panel-description>
               This is a summary of the content
            </mat-panel-description> -->
         </mat-expansion-panel-header>
         <p>{{ recipe.instructions }}</p>
      </mat-expansion-panel>
   </mat-accordion>

   <!-- <app-similar-recipes></app-similar-recipes> -->
</div>
