.recipe-details-container {
  margin: auto;
  max-width: 600px;
  width: calc(100% - 2rem);
  margin-bottom: 2rem;
}

.img-container {
  background-size: cover;
}

.recipe-summary {
  margin-bottom: 1rem;
}

.recipe-preparation-details-container {
  margin-block: 2rem;
  display: flex;
  justify-content: space-around;

  .servings,
  .preparation,
  .cook {
    text-align: center;
  }
}

img {
  border-radius: 2rem;
  width: 100%;
  padding-bottom: 1rem;
}
